@import '~bootstrap/scss/bootstrap';

$wrap-around: solid #000;
$box-bacground: rgba(0, 0, 0, .45);
$box-content: rgba(255, 255, 255, 1);
$hover: rgba(0, 0, 0, .3);

body {
  background-image: url('public/images/background.jpg');
  background-size: cover;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  font-weight: 1200;
  padding: 10px;
  padding-left: 20px;
}

p {
  font-family: 'Inter', sans-serif;
  padding-left: 25px;
}

main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  padding: 20px;
}

main div:hover {
  background-color: $hover;
}

nav {
  align-items: stretch;
  display: flex;
  font-family: 'Noticia Text', serif;
  // border: solid black;
  font-size: 15px;
  font-weight: 1000;
  padding: 10px 25px;
}

h2 {
  display: flex;
  font-family: 'Permanent Marker', cursive;
  justify-content: center;
  padding: 50px 20px;
  // border: solid black;
  // align-items: flex-end;
}

.float-left {
  float: left;
  padding-left: 10px;
  padding-right: 10vh;
  // display: flex;
  // align-items: flex-end;
}

.float-right {
  float: right;
  padding-right: 10px;
  // display: flex;
  // align-items: flex-end;

}

div {
  align-items: center;
  background-color: $box-bacground;
  color: $box-content;
  display: flex;
  font-family: 'Permanent Marker', cursive;
  font-size: 15vh;
  justify-content: center;
}

.row1 {
  border: $wrap-around;
  height: calc(100% / 3);
  width: calc(100% / 3);
}

.row2 {
  border: $wrap-around;
  height: calc(100% / 3);
  width: calc(100% / 3);
}

.row3 {
  border: $wrap-around;
  height: calc(100% / 3);
  width: calc(100% / 3);
}

footer {
  // align-items: flex-end;
  // border: solid black;
  bottom: 5px;
  // display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  right: 5px;
  // justify-content: flex-end;
}

// @media screen and (max-width: 300px) {
//   body {
//     background-size: auto;
//     background-repeat: no-repeat;
//   }
// }


.failure {
  color: #ff0000;
}

.success {
  color: #00ff00;
}
